@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
  /* font-family: 'Poppins' !important; */
  background-color:black !important;
  overflow-x: hidden;
}
.mainFrame{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.mt-10-per{
  top: 58px;
}
/* .mt-nav{
  top: 108px;
} */
#Cart{
  position: relative;
  overflow:hidden;
  height: 20px;
  /* display: none; */
}
/* #Group-21{
  animation: anim20 linear 4s;
  animation-iteration-count: infinite;
} */
#smCloud{
  animation: anim15 linear 4s;
  animation-iteration-count: infinite;
}

 #Path-cloud {
  animation: anim40 linear 4s;
  animation-iteration-count: infinite;
}
#topCloudPath{
  animation: anim40 linear 4s;
  animation-iteration-count: infinite;
}
#cloudShort{
  animation: anim20 linear 4s;
  animation-iteration-count: infinite;
}
#topClud{
  animation: anim40 linear 4s;
  animation-iteration-count: infinite;
}
#Group-7{
  position: relative;
}
#house1{
  animation: anim2 linear 2s;
  animation-iteration-count: infinite;
}
#house2{
  animation: anim2 linear 2s;
  animation-iteration-count: infinite;
}
/* #Combined-Shape{
  animation: anim40 linear 4s;
  animation-iteration-count: infinite;
} */
@keyframes anim15 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-15%, 0px);}
}
@keyframes anim20 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-20%, 0px);}
}
@keyframes anim40 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-40%, 0px);}
}
@keyframes anim2 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-2%, 0px);}
}

.container-fluid{
  padding-right: var(--bs-gutter-x,0px) !important;
  padding-left: var(--bs-gutter-x,0px) !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
